
@{
    ViewData["Title"] = "InvalidLink";
}


<h3 class="text-center">Invalid video meeting link</h3>
<a asp-area="" asp-controller="Home" asp-action="Index" class="text-center"><h5>Back to home</h5></a>

